<%- include("header"); -%>
<main>
    <p>You have already logged in</p>
    <form action="/alert" method="post">
        <button type="submit">Log out</button>
    </form>
</main>
<%- include("footer"); -%>
