<%- include("header"); -%>
<main>
    <p>You are not logged in </p>
    <form action="/alert2" method="post">
        <button type="submit">Log-in</button>
    </form>
</main>
<%- include("footer"); -%>
