<%- include("header"); -%>

<main>
    <div class="form">
        <p><%= message %></p>
        <form action="/compose" method="post" class="form-label" enctype="multipart/form-data">
            <div class="form-label">
                <input type="file" name="avatar" />
            </div>
            <div class="form-label">
                <label>Title</label>
                <input type="text" name="textTitle">
            </div>
            <div class="form-label">
                <label>Post</label>
                <textarea class="compose-text" name="textPost" rows="10" cols="100"></textarea>
            </div>
            <div class="form-label">
                <button type="submit">submit</button>
            </div>
        </form>
    </div>
</main>

<%- include("footer"); -%>
