<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- css -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <ul class="navbar-elements">
            <li class="navbar-list"><a href="/">Home</a></li>
            <li class="navbar-list"><a href="/compose">Compose</a></li>
            <li class="navbar-list" style="float: right;"><a href="/signin">Sign-in</a></li>
            <li class="navbar-list" style="float: right;"><a href="/login">Log-in</a></li>
        </ul>
        
    </header>
    <div class="navbar-expand"></div>
</body>
</html>